<a href="https://colab.research.google.com/github/wargreimon501/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## intro python 3
### variables
tipo dinamico
escuela = "Fes aragon"


```
# Esto tiene formato de código
```

In [12]:
escuela = "Fes aragon"
print(escuela )
print("----------------")
edad = 13
estatura= 1.67
fumador = True
frace = """
esat es 
una 
frace
demultiple linia
y ytambien es 
un tipo de dato
"""
print(frace )
nombre="jose"
nombre_completo="jose morales "

Fes aragon
----------------

esat es
una
frace
demultiple linia
y ytambien es
un tipo de dato

# el print
con comas ,
con signo +
con format()
con el operador f""

In [15]:
print(niombre, edad)

jose 13

In [17]:
# +concatena
print(nombre + str(edad))
print(nombre + nombre_completo)

jose13
josejose morales

In [22]:
#con formato -->su nombre: jose y su edad es de 13 años.
print("su nombre es", nombre,"y su edad es de ",edad,"años")
print("su nombre es {0} y su edad es de {1} años ".format(nombre,edad))
print("c ".format(nombre,edad))

su nombre es jose y su edad es de  13 años
su nombre es jose y su edad es de 13 años
su nombre es 13 y su edad es de jose años

In [29]:
#con formato de operador f 
print( f"su nombre es \"{nombre }\" ""y su edad es de {edad} años")

su nombre es "jose" y su edad es de {edad} años

# caracter de escape
\n salto de linia \t tabulador \a beep
\* imprimir comilla doble
\' imprimir comilla simple

In [30]:
"""
esto es 
un }comentario
de mutiple linia
tan tan 
"""
print(f"\tMi nombre es \n\t\t{nombre}")

	Mi nombre es
		jose

# ayuda de tipos de python de datos en python 
dir()
help()

In [ ]:
#str,in,bool...list,dict,set
dir(str)

In [35]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end = "---------------")
print(nombre_completo.title())

Jose morales
JOSE MORALES ---------------Jose Morales

In [ ]:
help(print)

# clase String 
es manejada como un arreglo (a o java ) o liosta (python)
'telefono = "hawei mate 30 pro "'

In [39]:
telefono = "hawei mate 30 pro "
print(telefono [4])

i

# slicing (rebanadao)
nota el stop no se incluye ,termina en valor anterior al stop

In [52]:
print (telefono[6:11:1])
# el inicio y el incremento son obcionales 
print (telefono[:11:])
# el valor por defecto de stop 
print (telefono [::1])
#incremento negativo

print(telefono[-4::1])

mate
hawei mate
hawei mate 30 pro
pro

#metodos String (str)
existen metodos muy utiles en esta clase

In [74]:
facultad ="     facultad de estudio superiores aragon     " 
tamaño=len (facultad)
print(facultad.count("f"))# numero de la letra buscada
print(facultad.find("s"))#pocision de una caracteristica de la primera que encuantre
print(facultad.strip())# quita espacios y espacios d linia 
print(len(facultad))# longuitud de un estreing
print(f"tamaño de la cadena es {tamaño} caracteres ")
print(facultad)
print(facultad.strip().split(" "))
print("------------------")
#copiar cadena 
otra_cadena = facultad
print(otra_cadena )
otra_cadena = "fes aragon"
otra_cadena = facultad
print(otra_cadena )
#copiar lista
colores= ["rojo","azul"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

1
18
facultad de estudio superiores aragon
47
tamaño de la cadena es 47 caracteres
     facultad de estudio superiores aragon
['facultad', 'de', 'estudio', 'superiores', 'aragon']
------------------
     facultad de estudio superiores aragon
     facultad de estudio superiores aragon
['rojo', 'azul']
['rojo', 'azul']
['rojo', 'azul']
['rojo', 'azul', 'rosa']