<a href="https://colab.research.google.com/github/wargreimon501/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string continua
numeros_txt="   1,2,3,4,5,   15  ,    35  ,    12   "
print(numeros_txt)
numeros_txt=numeros_txt.lstrip().split(",")#separacion de la cadena dependiendo lo que pide split
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j]= int(numeros_txt[j].strip())#strip quitar espacios de una cadena string
print(numeros_txt)


#funcion range
#range(inicio,stop,incremento)
print(range(1,10,1))
rango = range(1,10,2)
for x in rango:
  print(x)
rango= range(10)

   1,2,3,4,5,   15  ,    35  ,    12
['1', '2', '3', '4', '5', '   15  ', '    35  ', '    12   ']
[1, 2, 3, 4, 5, 15, 35, 12]
range(1, 10)
1
3
5
7
9

# conjunto
reprecentacion de teoria de conjunto

In [50]:
#lista[equivalentes alos areglos en otro lenguaje ]
frutas =["pera","manzana","fresa","kiwi","naranja"]
print(frutas)
cosas=["cuaderno",2,3.344,True,False,["rojo","azul"]]
print(cosas)
frutas[2]="fresas"#fruta[2]0frutas[2].capitalize
print(frutas)
# ahregar a una lista 
frutas.append("aguacate")#meter asta el ultimo en una lista 
print(frutas)
frutas.insert(2,"sandia")#insertar en la lista
print(frutas)

fecha=["06","10","2020"]#06/10/2020
print(fecha)
fecha_str="/".join(fecha)
print(fecha_str)
#eliminar

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.344, True, False, ['rojo', 'azul']]
['pera', 'manzana', 'fresas', 'kiwi', 'naranja']
['pera', 'manzana', 'fresas', 'kiwi', 'naranja', 'aguacate']
['pera', 'manzana', 'sandia', 'fresas', 'kiwi', 'naranja', 'aguacate']
['06', '10', '2020']
06/10/2020

In [51]:
#eliminar
cosas=["cuaderno",2,3.344,True,False,["rojo","azul"]]
print(cosas)
cosas.append("libro")
cosas.append("lapis")
print(cosas)
algo=cosas.pop()
print(cosas)
algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)
cosas.clear()#limpiar
print(cosas)
#ordenar listas
print(frutas )
frutas.sort()
print(frutas)

['cuaderno', 2, 3.344, True, False, ['rojo', 'azul']]
['cuaderno', 2, 3.344, True, False, ['rojo', 'azul'], 'libro', 'lapis']
['cuaderno', 2, 3.344, True, False, ['rojo', 'azul'], 'libro']
['cuaderno', 2, True, False, ['rojo', 'azul'], 'libro']
3.344
['cuaderno', True, False, ['rojo', 'azul'], 'libro']
[]
['pera', 'manzana', 'sandia', 'fresas', 'kiwi', 'naranja', 'aguacate']
['aguacate', 'fresas', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']

In [58]:
#slicing
cosas=["cuaderno",2,3.344,True,False,["rojo","azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[7:12:1])
#sustituir rebanadas -2,-2 1,2,3,4,5,6,7,-2,-2,13,14,15
numeros[7:12:]=[-2,-2]
print(numeros)
#preguntar por una exitencia 
print(-2 in numeros)

[True, False]
['cuaderno', 2, 3.344, True, False, ['rojo', 'azul']]
de
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True

# listas :multidimencion
listas dentro de listas

In [75]:
computadoras = ["HP","MAC Book pro 17","mate book","Lenovo leguion"]
oss=["windosw 10","linux","android","IOS"]
computo=[computadoras,oss ]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][-8::-1])
print("linux" in computo[1])
dbms=["Mysql","Open Source",False],["MS SQL Server","de paga",True]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][0:11:])

['HP', 'MAC Book pro 17', 'mate book', 'Lenovo leguion']
['windosw 10', 'linux', 'android', 'IOS']
mate book
mate
 ovoneL
True
[['HP', 'MAC Book pro 17', 'mate book', 'Lenovo leguion'], ['windosw 10', 'linux', 'android', 'IOS'], (['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True])]
Mysql
['MS SQL Server', 'de paga', True]